<!DOCTYPE html>
<div class="weather-header">
    Your Forcast is?..
</div>

<div class="weather-body">
  <input id="openWeather" placeholder="City Name" class="weatherSearch" ng-model="city">
        <button id="weather-button" type="button" ng-click="getWeather(city)" name="button">Submit</button>

          <div id="your-weather" ng-show="weather" class="local-weather">
            {{weather.name}}
            {{weather.main.temp}} : deg
          </div>
  <div class="top5" ng-repeat="location in weathers">
    <div class="local-weather">
    <p>  {{location.data.name}} : {{location.data.main.temp}} deg <br> {{location.weather}}</p>

  </div>


  </div>



  <div class="weather-results">


  </div>
</div>
